<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\..\artifacts\iis\</PublishDir>
  </PropertyGroup>
</Project>
